{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="main">
    <div class="topnav">
        <a href="#home" class="active"></a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="#how">How to Play</a>
            <a href="#stats">Statistics</a>
            <a href="#about">Settings</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="toggleHamburger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="title_main">the noun game</div>
    <div id="title_sub">/THē/&nbsp;/noun/&nbsp;/ɡām/</div>
    <a href="/delete/">delete</a>
    <div id="game">
        <div id="redGuess">

        </div>
        <div id="blueGuess">
            <div id="guess1" onload="toggleFirstGuess()">{{ currentBestGuess }}</div>
            <form action="/" method="POST">
                <input type="text" name="content" id="content" class="content1" autocomplete="off">
            </form>
            <div id="mid">or</div>
            <div id="guess2">
                <form action="/" method="POST">
                    <input type="text" name="content" id="content" class="content2" autocomplete="off">
                </form>
            </div>
        </div>
    </div>
    <div id="list">
        <div id="desc">Previous guesses: </div>
        <div id="prevGuessList">
            <table>
                {% for guess in guesses %}
                <tr>
                    <td>{{ guess.content }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}